* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body > header { /* Edição do filho direto do Body, aplicado quando existe outras classes*/
  background-color: black;
  padding: 16px 0;
  color: white;
}
bode > header a:hover {
  text-decoration: underline;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header li {
  display: inline;
  margin-left: 16px;
}
header li a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
header li a:hover {
  text-decoration: underline;
}
.container {
  width: 1380px;
  margin: 0 auto; 
}
.articles {
  display: flex;
  flex-wrap: wrap; /* Cria uma linha para adicionar noticia nova*/
  justify-content: space-between; /* Ajustar espaço do container com base no calculo*/
}
.articles article img {
  /*height: 180px;*/
  width: 100%;
}
.articles article {
  width: 30%;
}
section {
  padding: 16px 0;
}
section h2, .articles article { /*Aplicando o cofiguração em duas seções*/
  margin-bottom: 16px;
}
.articles article h3{
  margin-top: 8px;
  margin-bottom: 8px;
}
.articles article a {
  background-color: blue;
  color:white;
  padding: 8px;
  display: inline-block;
  text-decoration: none; /*Remoção da linha dos links no texto*/
  font-weight:bold; /*Peso da fonte em negrito*/ 
  margin-top: 8px;
}
.articles article a:hover {
  text-decoration: underline; /* Adicionar a fução de seleção com o mouse*/
}
.articles article p, .articles article a {
  font-family: Arial, Helvetica, sans-serif;
}
.articles article h3 {
  font-size: 24px;
}
section h2 {
  font-size: 32px;
}
#sports {
  background-color: rgba(0, 255, 0, 0.1);
}
#sports .articles article a {
  background-color: rgba(41, 238, 41, 0.459);
  color: rgb(17, 16, 16);
}
#economy{
  background-color: rgb(174, 238, 220);
}
#economy .articles article a {
  background-color: rgb(163, 211, 195);
  color: black;
}