/* Home Page */
* {
  /* Edição das margens e bordas da pagina */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body > header { /* A utilização do sinal ">" é para realizar a edição direta ramificação pai da tag body */
  /* Definição do preenchimento */
  background-color: black;
  padding: 16px;
  color: white;
}
header .container {
  /* Alinhamento do Menu Superior */
 display: flex;
 align-items: center;
 justify-content: space-between; /* Justificar espaçamento do conteudo */
}
header li {
  display: inline;
  margin-left:16px;
}
header li a {
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-decoration: none;
}
header li a:hover {
  text-decoration: underline;
}
/* Configuração das Seções */
.container {
  /* Difinição do tamanho da pagina */
  width: auto; 
  margin: 0 auto;
}
.articles {
  display: flex;
  flex-wrap: wrap; /* Quebra de paginas para novos conteudos */
  justify-content: space-between; 
}
.articles article img {
  /*height: 180px;*/
  width: 100%;
}
.articles article {
  width: 30%;
}
section {
  padding: 16px 0;
}
section h2, .articles article {
  margin-bottom: 16px;
}
section h2 {
  font-size: 32px;
}
.articles article h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.articles article a {
  background-color: blue;
  color: white;
  padding: 8px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin-top: 8px;
}
.articles article a:hover {
  text-decoration: underline;
}
.articles article p, .articles article a {
  font-family: Arial, Helvetica, sans-serif;
}
.articles article h3 {
  font-size: 24px;
}
/* Difinição das Cores "Seções" */
#sports {
  background-color: rgb(247, 227, 139);
}
#sports .articles article a {
  background-color: rgb(74, 185, 148);
  color: white;
}
#economia {
  background-color: rgb(241, 219, 191);
}
#economia .articles article a {
  background-color:rgb(74, 185, 148);
  color: white;
}
#tecnologia {
  background-color: aliceblue;
}
#tecnologia .articles article a {
  background-color: rgb(74, 185, 148);
  color: white;
}
#entreterimento {
  background-color: rgb(211, 199, 199);
}
#entreterimento .articles article a {
  background-color: rgb(74, 185, 148);
  color: white;
}
